@import "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* 리셋 */
* {
    box-sizing: border-box;
}

body,
h2,
ul,
p {
    margin: 0;
}

img {
    vertical-align: top;
    max-width: 100%;
    object-fit: cover;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* 타이포 */
html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: normal;
}

#ad_s1>h2 {
    font-size: 5rem;
    font-weight: 400;
    color: #fff
}

#ad_s1>p {
    font-size: 5rem;
    font-weight: 500;
    color: #fff
}

#ad_s2>h2 {
    font-size: 2.6rem;
    font-weight: 400;
}

#ad_s2>input {
    font-size: 2.4rem;
}

#ad_s2>button {
    font-size: 1.5rem;
    color: #fff;
}

#ad_s5>h2,
#ad_s5>.ad_s5_txt a,
#ad_s5>.ad_slide p {
    color: #0032A0;
}

#ad_s5>h2 {
    font-size: 3.2rem;
    font-weight: 400;
}

#ad_s5>.ad_s5_txt {
    font-size: 1.4rem;
}

#ad_s5>.ad_slide p {
    font-size: 2.4rem;
}


/* 레이아웃 */
/* 섹션1_이미지 */
#ad_s1 {
    margin: 0 auto;
    width: 1660px;
    max-width: 100%;
}

#ad_s1 {
    position: relative;
    margin-top: 19px;
}

#ad_s1>h2 {
    position: absolute;
    top: 120px;
    left: 170px;
}
#ad_s1>p {
    position: absolute;
    top: 180px;
    left: 170px;
}


/* 섹션2_검색 */
#ad_s2 {
    text-align: center;
}

#ad_s2>h2 {
    margin: 45px 0 33px 0;
}

#ad_s2>input {
    width: 404px;
    border: 0;
    border-bottom: 1px solid #BEBFC5;
    padding: 15px;
    color: #BEBFC5;
}

/* #ad_s2>input:focus {
        color: transparent;
    } */

#ad_s2>button {
    width: 180px;
    height: 52px;
    background: #0032A0;
    cursor: pointer;
    border: none;
    margin-bottom: 130px;
}

#ad_s2>button>img {
    margin-right: 8px;
}


/* 섹션3_메인콘티 */
#ad_s3 .ad_cont>li {
    display: flex;
    width: 100%;
    justify-content: center;
}


#ad_s3 img:nth-of-type(1),
#ad_s3 img:nth-of-type(3) {
    margin: 0 53px 22px 0;
}

/* 섹션4_탭 */
#ad_s4 {
    width: 100%;
    text-align: center;
}

#ad_s4>h2 {
    padding: 125px 0 32px 0;
}

#ad_s4 ul {
    width: 1020px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

#ad_s4 .tabs>ul {
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 18px;
}

#ad_s4 .tabs>ul>li:nth-child(1)>a {
    margin-right: 36px;
    color: #0032A0;
}


#ad_s4 .tabs>ul li {
    padding: 10px;
}

#ad_s4 .tabs>div {
    display: none;
}

#ad_s4 .tabs .on {
    display: block;
}

#ad_s4 #tab1>ul>li>span,
#ad_s4 #tab2>ul>li>span {
    display: block;
    margin-bottom: 18px;
    color:#000
}

#ad_s4 #tab1>ul>li,
#ad_s4 #tab2>ul>li {
    margin-right: 20px;
}


/* 섹션5_캐러셀 */
#ad_s5 {
    margin: 140px 0 240px 280px;
    width: 1400px;
}

#ad_s5>h2 {
    margin: 0 0 16px 0;
}

#ad_s5 .ad_s5_txt {
    display: flex;
    margin: 0 0 48px 0;
}

#ad_s5 .ad_s5_txt>a {
    margin: 5px 0 0 18px;
}

#ad_s5>.ad_slide {
    margin: 0 -53px;
}
#ad_s5>.ad_slide>div {
    margin: 0 53px;
}

#ad_s5>.ad_slide img {
    border-radius: 25px;
    margin-bottom: 18px;
}




/* 미디어쿼리_테블릿 */
@media (max-width: 768px) {

    #ad_s1 h2,
    #ad_s1 p {
        position: static;
    }

    #ad_s1>h2 {
        padding: 33px 0 23px 23px;
    }

    #ad_s1>p {
        padding: 0 0 23px 23px;
    }

    #ad_s3 .ad_cont>li {
        justify-content: center;
        display: grid;
    }

    #ad_s4 {
        width: 768px;
        margin: 0 auto;
        border: 1px solid red;
    }

    #ad_s4 .tabs>ul {
        border: none;
    }

    #ad_s4 #tab1 ul{
        width: 500px;
        flex-wrap: wrap;
    }
}


/* 미디어쿼리_폰 */
@media (max-width: 360px) {

    #ad_s2 {
        text-align: center;
        padding: 60px 93px;
    }

    #ad_s2>input {
        width: 290px;
        margin-bottom: 27px;
    }

    #ad_s2>button {
        width: 292px;
        height: 52px;
        padding: 18px 0;
    }

}