@charset "utf-8";
@import url(reset.css);
@import url(common.css);


/* 헤더 */
/* Global */
.inner {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/* Header and Navigation */
header {
    width: 100%;
    height: 140px;
}

.top {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    background: #fff;
    padding: 0 15px; /* Adjust for mobile */
}

.top_l, .top_r {
    display: flex;
    align-items: center;
    height: 70px;
}

.top_l {
    flex: 1;
}

.top_r {
    flex: 1;
    justify-content: flex-end;
}

.search {
    position: relative;
    width: 100%;
    max-width: 262px;
    margin-right: 15px;
}

input {
    width: 100%;
    border: 1px solid #bbb;
    border-bottom: 1px solid #000;
    padding: 10px 12px;
    font-size: 14px;
}

.search img {
    position: absolute;
    width: 17px;
    top: 10px;
    right: 12px;
}

/* Navigation */
.nav {
    height: 70px;
}

.link_list {
    width: 100%;
    max-width: 620px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.nav a:hover {
    border-bottom: 2px solid #0032A0;
}


/* 섹션1 */

section.s1 {
    width: 100%;
    height: 500px;
    position: relative;
}

.s1 .text {
    width: 90vw;
    position: absolute;
    text-align: center;
    color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bg_circle {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 500px;
    height: 500px;
    background: #0033a081;
    border-radius: 50%;
}

.s1 img {
    width: 100%;
    height: 500px;
    margin: 0 auto;
}

.s2 {
    width: 100%;
    padding: 90px 0 150px;

}
.s2 .login_wrap {
    width: 100vw;
    /* height: 340px; */
    text-align: center;
    background: #f0eeed;
    padding: 60px 0;
    margin: 0 auto;
}
.s2 .inner {
    width: 350px;
    margin: 0 auto;
}
.s2 .input_wrap {
    margin-bottom: 10px;
}
.s2 .input_wrap input {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px ;
    border: 1px solid #ccc;
}

.s2 .btn_area>a {
    display: flex;
    width: 100%;
    line-height: 50px;
    justify-content: center;
    margin-bottom: 30px;
    color: #fff;
    background: #0032A0;
    font-size: 18px;
}
.s2 .btn_area ul {
    display: flex;
    justify-content: center;
}
.s2 .btn_area li {
    padding: 0 15px;
    line-height: 1;
    border-left: 1px solid #ccc;
}
.s2 .btn_area li:first-child {
    border-left: none
}
/* 768이상: 테블릿 */
@media (min-width: 768px) {
    
}

/* 992이상: 데스크탑 */
@media (min-width: 992px) {
    .s2 .login_wrap {
        width: 58vw;
    }
}