@charset "utf-8";

/* 
    선택자의 종류
    1. 요소(택,타입)
    2. 그룹: ,
    3. 클래스 선택자: .이름
*/
div{
    width: 1200px;
    /* auto의 의미는 콘텐츠 제외 가운데 배치하는 것 */
    margin: 0 auto; /* 콘첸츠 가로중앙 배치 */
}
.div1{
    background: yellowgreen;
    height: 100px;
}
.div2{
    background: beige;
    height: 300px;
}
.div3{
    background: blueviolet;
    height: 200px;
}
.div4{
    background: aquamarine;
    height: 100px;
}
