@charset "utf-8";

/* 

    text-align: 글자 맞춤;
    line-height: 줄간격;
    padding: 패딩;

   + 인라인요소와 텍스트 가로 정렬
    text-align
   + 텍스트의 세로 가운데 정렬
    1. padding을 사용할 때 height를 지정하지 않고 사용
    2. line-height 속성 값을 height 속성 크기와 같은 크기로 지정
        (단, 한 줄 텍스트일 때만 가능)
*/

.box {
    background: lavenderblush;
    height: 200px;
    margin: 12px;
}

div:nth-of-type(1) {
    text-align: left;
}

div:nth-of-type(2) {
    line-height: 200px;
    text-align: center;
}

div:nth-of-type(3) {
    height: auto;
    padding: 92px;
    text-align: right;
}
/* 부모.box 안에 있는 자식div */
.box div {
    display: inline-block;
    width: 100px;
    height: 30px;
    background: antiquewhite;
}