@charset "utf-8";

#wrapper {
    margin: 0 auto;
    width: 1004px;
    height: 808px;
}

#header {
    margin-bottom: 4px;
    height: 200px;
    background: lavender;
}

#container {
    display: flex;
    height: 400px;
}

#content1 {
    margin-right: 4px;
    width: 500px;
    height: 400px;
    background: blanchedalmond;
}

#aside {
    width: 500px;
    background: aquamarine;
}

#footer {
    margin-top: 4px;
    height: 200px;
    background: lavender;
}