@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

/* typo */
html {
    font-size:10px;
}
body {
    /* font: 굵기 크기/줄간격 글꼴1,글꼴2 */
    font:1.5rem/1.5 "Noto Sans KR", Arial, sans-serif;
}
h2, h3 {
    font-weight: 300;
}

/* 이미지,비디오 반응형을 위한 초기값 지정 */
img, video {
    width: 100%;
    max-width: 100%;
    height: auto;
}

i {
    margin-right: 15px;
}