@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    color: #333333;
    background: #fff;
    font-size: 16px;
}

body,
h1,
p,
ul {
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: top;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333333;
}

.wrapitem {
    display: flex;
}

/* 헤더 */
header {
    width: 200px;
    height: 850px;
    background: #eee;
}
/* 로고 */
h1 {
    padding: 20px;
}
/* 내비게이션 */

.gnb>ul>li>a {
    padding: 20px;
    display: block;
    text-align: center;
    background: #000;
}
.gnb>ul>li>a:hover,
.gnb>ul>li>a:focus {
    background: #333333;
}

.sub {
    display: none;
}
.sub .on {
    display: block;
}

.sub a {
    text-align: center;
    padding: 10px;
    display: block;
    background: #eee;
}

.sub a:hover, 
.sub a:focus {
    background: #333333;
}

/* 스팟메뉴 */
.spotmenu {
    padding: 50px 2px;
}

/* 콘텐츠 */
.content {
    height: 850px;
    width: calc(100% - 200px);
}

.slide {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.slide>ul>li {
    position: absolute;
    width: 100%;
    height: 400px;
    /* animation: slide 2s infinite; */
}

@keyframes slide {
    0% {
        transform: translateY(0%);
    }
    10% {
        transform: translateY(-25%);
    }
    33% {
        transform: translateY(-25%);
    }
    43% {
        transform: translateY(-50%);
    }
    66% {
        transform: translateY(-50%);
    }
    76% {
        transform: translateY(-75%);
    }
    99.99% {
        transform: translateY(-75%);
    }
    100% {
        transform: translateY(0%);
    }
}

.link {
    position: absolute;
    top: 0;
    right: 0;
}

.banner {
    display: flex;
    height: 200px;
    align-items: center;
    background: lavenderblush;
}

.banner img {
    padding: 30px;
}

.tabs {
    height: 250px;
    padding: 10px;
    background: lightblue;
}

.tabs>ul {
    display: flex;
    width: 200px;
    margin: 20px;
    border: 1px solid #000;
}

.tabs>ul>li>a {
    display: block;
    margin-right: 20px;
}

#tab1 {
    margin-left: 20px;
    line-height: 2;
}

#tab1 table td {
    margin-left: 40px;
}

#tab1 tr {
    border-bottom: 1px solid #000;
}

#tab2 {
    display: none;
}

#tab2 ul {
    display: flex;
    justify-content: space-between;
}

footer {
    height: 100px;
    background: #ccc;
}