@charset "utf-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css");
@import url(https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.17/jquery.bxslider.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

/* reset */
* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

body {
    background: #fff;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: top;
}

button {
    border: none;
    cursor: pointer;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

::selection {
    background: #FAF1C6;
}


/* 타이포 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.5rem;
    color: #1b1b1b;
    line-height: 1.5;
}

h2 {
    font-size: 4.8rem;
    font-weight: 600;
}

h3 {
    font-size: 1.6rem;
    font-weight: 600;
}

p {
    font-weight: 400;
}

a {
    color: #000;
}

/* 헤더 */
.logo_nav a {
    color: #EC6CA2;
    font-size: 1.4rem;
    font-weight: 600;
}

/* 섹션1 */
.slidertxt a{
    color: #8E8C8D;
    font-weight: 600;
}

.slidertxt a:nth-of-type(2){
    color: #EC6CA2;
    font-size: 5rem;
    font-weight: 600;
}

.slidertxt p {
    font-weight: 400;
    font-size: 1.4rem;
}

.slidertxt span {
    font-size: 4rem;
    font-weight: 500;
}

.slidertxt button {
    color: #fff;
    background: #EC6CA2;
    opacity: 0.8;
}

/* 섹션2 */
#s2 h2 {
    font-weight: 700;
    font-size: 4.4rem;
    color: #EC6CA2;;
}

#s2 #tabs>ul>li:nth-child(1) {
    font-weight: 600;
    font-size: 2.4rem;
    color: #000
}
#s2 #tabs>ul>li>a:nth-child(2),
#s2 #tabs>ul>li>a:nth-child(3) {
    font-weight: 100;
    font-size: 1.8em;
    color: #8E8C8D;
}

#s2 #tabs>div h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

#s2 #tabs>div a:nth-of-type(2) {
    font-size: 1.2rem;
    color: #ACACAC;
}

#s2 #tabs>div a:nth-of-type(3) {
    font-size: 1.6rem;
}

/* 섹션3 */
#s3 h2 {
    font-weight: 600;
    font-size: 2.4rem;
    color: #EC6CA2;
}

#s3 .yigStoreTxt>p{
    font-size: 1.4rem;
}

#s3 .yigStoreTxt>p:nth-of-type(1){
    font-weight: 500;
    font-size: 2rem;
    color: #EC6CA2;
}

#s3 .yigBtn {
    font-size: 2rem;
    font-weight: 500;
    color: #EC6CA2;
}

#s3 .yigBtn a {
    font-size: 1.4rem;
    color: #EC6CA2;
}

#s3 .yigStoreCont {
    background: #EC6CA2;
}

#s3 .yigStoreCont a {
    font-size: 2rem;
    color: #fff;
}

#s3 .yigStoreCont input {
    font-size: 1.5rem;
    color: #757575;
    font-weight: 400;
}

#s3 .yigStoreCont span {
    font-weight: 700;
}

/* 섹션4 */
#s4 h2 {
    font-size: 24px;
    font-weight: 200;
}

#s4 h3 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1;
}

#s4 p:first-of-type {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

#s4 a {
    font-size: 1.8rem;
    font-weight: 300;
    color: #fff;
}

footer a,
footer p {
    color: #fff;
    font-weight: 900;
}

footer .ftop a {
    font-size: 2.4rem;
    line-height: 2.4;
}

footer .ftop p {
    font-size: 1.4rem;
}


/* 레이아웃 시작 */
/* header */
header {
    z-index: 9999;
    position: fixed;
    position: relative;
}

.logo {
    position: absolute;
    left: 61px;
    top: 30px;
}

.logo_nav {
    position: absolute;
    left: 245px;
    top: 30px;
    display: flex;
}

.logo_nav a {
    margin-right: 41px;
}

.logo_right {
    position: absolute;
    z-index: 999999;
    right: 64px;
    top: 30px;
    display: flex;
}

.logo_right a:first-child {
    margin-right: 18px;
}


/* 푸터에 있는 p 높이 */
.fp-auto-height div {
    height: 200px;
    background: #EC6CA2;
}

/* 푸터 동그라미 */
#fp-nav.right li:last-child {
    display: none;
}

.ibx {
    width: 1120px;
    margin: 0 auto;
}

/* 섹션1 */
/* 슬라이드 */
.bx-wrapper {
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

/* 이미지를 뷰포트에 100% 채우기 */
.bx-viewport img {
    height: 100% !important;
}

.bx-wrapper li {
    width: 100vw;
    height: 100vh;
}

/* //뷰포트 */

.bx-wrapper .bx-controls-auto,
.bx-wrapper .bx-pager {
    bottom: 30px;
}

.bx-wrapper .bx-controls-direction a {
    width: 40px;
    height: 80px;
}

.bx-wrapper .bx-prev {
    left: 97px;
    background: url(../assets/prve.png) no-repeat 0px 0px;
}

.bx-wrapper .bx-next {
    right: 97px;
    background: url(../assets/next.png) no-repeat 0px 0px;
}

/* next 버튼 호버시 사라지는 현상 초기화 */
.bx-wrapper .bx-next:focus,
.bx-wrapper .bx-next:hover {
    background-position: 0 0;
}

.slidertxt {
    position: absolute;
    top: 320px;
    left: 150px;
}

.slidertxt a {
    display: block;
}

.slidertxt button {
    border-radius: 20px;
    width: 101px;
    height: 44px;
    margin-top: 44px;
}

/* 섹션2 */
#s2 .ibx #tabs{
    display: flex;
    align-items: center;
}

#s2 #tabs>ul>li {
    margin-right: 230px;
    margin-bottom: 21px;
    width: 100px;
}

/* 탭 콘텐츠 */
#s2 #tabs>div>ul {
    display: flex;
    align-items: center;
}

#s2 #tabs>div>ul>li {
    margin-right: 24px;
}

#s2 #tabs>div>ul>li>a:nth-of-type(1) {
    display: block;
    margin-bottom: 16px;
    width: 355px;
    height: 355px;
}

#s2 #tabs>div a:nth-of-type(3) {
    display: block;
    margin-top: 17px;
}


/* 탭의 기능 핵심 */
#s2 #tabs>div {
    display: none;
}

#s2 #tabs>div.on {
    display: block;
}

/* 섹션3 */
#s3 .yigStore {
    margin-left: 360px;
    display: flex;
}

#s3 .yigStoreTxt {
    margin-right: 197px;
}

#s3 .yigStoreTxt h2{
    margin-bottom: 13px;
}

#s3 .yigStoreTxt p:nth-of-type(1){
    margin-bottom: 33px;
}

#s3 .yigStoreTxt p:nth-of-type(3){
    margin: 8px 0 25px 0;
}

#s3 .yigBtn img {
    width: 16px;
    height: 12px;
    margin: 9px 0 0 12px;
}

#s3 .yigStoreCont {
    width: 482px;
    height: 177px;
    border-radius: 37px;
    position: relative;
}

#s3 .yigStoreCont>div {
    margin: 37px 0 0 55px;
}

#s3 .yigStoreCont>div>p {
    margin-bottom: 18px;
}

#s3 .yigStoreCont>div>input {
    width: 218px;
    height: 37px;
    border-radius: 37px;
    border: #fff;
    padding: 10px 25px;
}

#s3 .yigStoreCont>div>a>img {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 125px;
    left: 230px;
}

#s3 .yigStoreCont>div>img {
    width: 150px;
    height: 90px;
    position: absolute;
    top: 43px;
    right: 19px;
}

/* 섹션4 */


/* 푸터 */
footer .ftop {
    display: flex;
    justify-content: space-around;
    margin-top: 54px;
}

footer .ftop p:nth-of-type(1) {
    margin-bottom: 42px;
}

footer .fmiddle {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    padding: 0 290px;
}

footer .fbottom>span {
    margin-top: 18px;
    display: flex;
    justify-content: space-around;
    padding: 0 155px;
}

footer .fbottom>p {
    margin-left: 347px;
    margin-top: 18px;
}
