@charset "utf-8";

* {
    box-sizing: border-box;
}
body,
h2,
ul,
p {
    margin: 0;
}
body {
    background: #fff;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}