@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    background: #F4E8DF;
}

body,
h1,
h2,
h3,
ul,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    border: 0
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}
